In [121]:
#from nltk.tokenize import word_tokenize
import pandas as pd

In [122]:
data=pd.read_excel("C:\\Mathan\\Data Science\\Assignments.xls",sheet_name="NLP")

In [123]:
data.head()

        Word   Replace  Unnamed: 2                      Remarks  Output
0        cxt  customer         NaN             cust called shop     NaN
1       cust  customer         NaN            cxt is frustrated     NaN
2     client  customer         NaN       client is very excited     NaN
3  customers  customer         NaN          customers went away     NaN
4      custs  customer         NaN  custs feedback is important     NaN

In [124]:
df=pd.DataFrame(data,columns=['Word','Replace'])
df

        Word   Replace
0        cxt  customer
1       cust  customer
2     client  customer
3  customers  customer
4      custs  customer

In [125]:
df_dict=df.set_index('Word').to_dict()
df_dict

{'Replace': {'cxt': 'customer',
  'cust': 'customer',
  'client': 'customer',
  'customers': 'customer',
  'custs': 'customer'}}

In [126]:
dic={}
for key,val in df.iterrows():
    dic[val[0]]=val[1]
dic

{'cxt': 'customer',
 'cust': 'customer',
 'client': 'customer',
 'customers': 'customer',
 'custs': 'customer'}

In [127]:
strtext=data['Remarks'].values.tolist()

In [128]:
strtext

['cust called shop',
 'cxt is frustrated',
 'client is very excited',
 'customers went away',
 'custs feedback is important']

In [129]:
feed=pd.DataFrame(data,columns=['Remarks'])
feed

                       Remarks
0             cust called shop
1            cxt is frustrated
2       client is very excited
3          customers went away
4  custs feedback is important

In [130]:
import re
res=[]
for idx1,row in feed.iterrows():
    newtxt=' '+row[0]+' '
    for key in dic:
        inkey=re.compile(re.escape(' '+key+' '),re.IGNORECASE)
        newtxt=inkey.sub(' '+dic[key]+' ',newtxt)
    res.append(newtxt.strip())

In [131]:
res

['customer called shop',
 'customer is frustrated',
 'customer is very excited',
 'customer went away',
 'customer feedback is important']

In [132]:
for line in res:
    print(line)
    data['Output']=line

customer called shop
customer is frustrated
customer is very excited
customer went away
customer feedback is important

In [133]:
for key,val in data['Output'].iteritems():
    print(val)
    data['Output'][key]=res[key]

customer feedback is important
customer feedback is important
customer feedback is important
customer feedback is important
customer feedback is important

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [134]:
print(data['Output'])

0              customer called shop
1            customer is frustrated
2          customer is very excited
3                customer went away
4    customer feedback is important
Name: Output, dtype: object

In [135]:
data

,Word,Replace,Unnamed: 2,Remarks,Output
0,cxt,customer,NaN,cust called shop,customer called shop
1,cust,customer,NaN,cxt is frustrated,customer is frustrated
2,client,customer,NaN,client is very excited,customer is very excited
3,customers,customer,NaN,customers went away,customer went away
4,custs,customer,NaN,custs feedback is important,customer feedback is important

In [136]:
writer=pd.ExcelWriter("C:\\Mathan\\Data Science\\NLP_Output.xls",engine='xlsxwriter')

In [137]:
data.to_excel(writer,sheet_name="NLP",startrow=6)

In [138]:
writer.save()